* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #222;
    color: white;
    /* flex 사용시 */
    /* display: flex;
    justify-content: center;
    align-items: center; */

    /* grid 사용시 */
    /* display: grid;
    justify-items: center;
    align-items: center; */
    
    display: grid;
    justify-content: center;
    align-content: center;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    /* 1rem --> 16px */
    grid-gap: 1rem;
    max-width: 1000px;
    grid-template-areas: 
    'a a a'
    'b c c'
    'b d g'
    'e f g';
}

.image1 { grid-area: a; }
.image2 { grid-area: b; }
.image3 { grid-area: c; }
.image4 { grid-area: d; }
.image5 { grid-area: e; }
.image6 { grid-area: f; }
.image7 { grid-area: g; }
