body {
    margin: 0;
    padding: 0;
    background-color: #222;
    color: white;
}

img {
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 800px) {
    img {
        width: 400px;
        height: 400px;
        display: none;
    }

}