.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav_wrapper {
    min-width: 200px;
    min-height: 100vh;
    background-color: #222;
    padding: 80px 0 0 0;
    list-style: none;
}

.nav_wrapper li {
    /* 위 좌우 아래 */
    padding: 10px 16px 10px;
    background-color: #222;
}

.nav_wrapper li:hover {
    background-color: #666;
}

.nav_icon {
    border: none;
    background-color: transparent;
    /* 16px * 1.5 = 24px */
    font-size: 1.5rem;
    color: white;
}

.nav_menu {
    margin: 0 0 0 8px;
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    color: white;
}

.nav_wrapper hr {
    border-color: #666;
    display: inline-block;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .nav_menu {
        opacity: 0;
        position: absolute;
        width: 20px;
    }

    .nav_wrapper {
        width: 60px;
        min-width: 0;
        position: relative;
        transition: 0.5s;
    }
}

@media screen and (max-width: 400px) {
    .nav_wrapper {
        opacity: 0;
        transition: 0.5s;
    }
}