body{
    background-color: #222222;
    color: white;
}
.parent{
    /* 16 * 8 = 128px */
    /* font-size: 8em; */
    color: black;
    background-color: #cccccc;
    height: 97.5vh;
    font-size: 10vh;
}
.child{
    
}