body {
    background-color: #222222;
    color: white;
}
.container {
    width: 600px;
    height: 500px;
    background-color: #cccccc;
    color: black;
    line-height: 500px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    display: inline-block;
    /* vertical-align: middle; */
    vertical-align: middle;
}
.box:nth-child(1) img {
    width: 70px;
}
.box:nth-child(2){
    width: 50px;
    height: 50px;
}
.box:nth-child(3){
    /* box의 baseline 기준으로 overflow hidden */
    overflow: hidden;
}
.box:nth-child(4){
    /* text의 베이스 라인으로 */
    /* margin-bottom: 30px; */
}