body {
    background-color: #222222;
    color: white;
    font-family: "Consolas";
}
.box{
    border: 3px solid red;
    width: 50%;
    text-align: center;
}
.box div{
    border: 6px solid #cccccc;
    width: 20%;
    height: 100px;
    /* margin 중앙 정렬후 부모로 부터의 여백 */
    margin: 10px;
    display: inline-block;
    color: black;
}
/*  */
/* .box div:nth-child(1){
    background-color: skyblue;
} */

/* .box div:nth-child(odd){
    background-color: skyblue;
} */

.box div:nth-last-of-type(1){
    background-color: skyblue;
}
.box div:nth-last-of-type(2){
    background-color: red;
}
.box div:nth-last-of-type(3){
    background-color: white;
}
.box div:nth-last-of-type(4){
    background-color: gold;
}

@font-face {
    font-family: "Consolas";
    src: url("CONSOLA.TTF") format('truetype')
}