@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgreen;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #222;
}

.gnb {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    /* w, h, 흐림정도, 색상 */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.gnb a {
    /* border: 1px solid red; */
    box-sizing: border-box;
    width: 80px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    /* span의 두개를 나누기 위함 position */
    position: relative;
    overflow: hidden;
}

.gnb a span {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s;
}

.gnb a span:nth-child(1) {
    top: 0%;
    left: 0%;
}

.gnb a span:nth-child(2) {
    top: 100%;
    left: 0%;
    color: green;
}

.gnb a:hover span:nth-child(1) {
    top: -100%;
}

.gnb a:hover span:nth-child(2) {
    top: 0%;
}