/* @import "./reset.css"; */
* {
    background-color: #222222;
    color: white;
    padding: 0;
    margin: 0;
}

body {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 테두리 안쪽 */
    /* box-shadow: 0 0 0 1px #fff inset; */
    height: 100vh;
}

.loading {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* border: 1px solid blue; */
}

.loading span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: ani 1s linear infinite;
}

.loading span:nth-child(1) {
    background-color: orangered;
}

.loading span:nth-child(2) {
    background-color: skyblue;
    animation-delay: 333ms;
}

.loading span:nth-child(3) {
    background-color: yellowgreen;
    animation-delay: 666ms;
}

@keyframes ani {
    0% {
        /* 투명도 설정 */
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
        transform: scale(1.3);
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}